<head>
  <link rel="stylesheet" href="/stylesheets/showStyles.css">
</head>
<header>
  <div class="banner"></div>
</header>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="create-form">
      <form action="/restaurants" method="POST">
        <div class="form-row justify-content-center">
          <div class="form-group col-md-6">
            <label for="name">餐廳名稱（中文）</label>
            <input required type="text" class="form-control" id="name" name="name"
              placeholder="Restaurant Chinese Name">
          </div>
          <div class="form-group col-md-4 ml-2">
            <label for="category">餐廳類型</label>
            <select required id="category" class="form-control" name="category">
              <option value="">請選擇類型</option>
              <option>美式餐廳</option>
              <option>日本料理</option>
              <option>義式餐廳</option>
              <option>中式餐廳</option>
              <option>泰式料理</option>
              <option>中東料理</option>
              <option>咖啡</option>
              <option>酒吧</option>
            </select>
          </div>
          <div class="form-row justify-content-center">
            <div class="form-group col-10">
              <label for="name">餐廳名稱（英文）</label>
              <input required type="text" class="form-control" id="name_en" name="name_en"
                placeholder="Restaurant English Name">
            </div>
            <div class="form-group col-10">
              <label for="location">餐廳地址</label>
              <input required type="text" class="form-control" id="location" name="location"
                placeholder="Restaurant Address">
            </div>
            <div class="form-group col-md-6">
              <label for="phone">電話號碼</label>
              <input required type="text" class="form-control" id="phone" name="phone"
                placeholder="(area code) + phone number">
            </div>
            <div class="form-group col-md-4">
              <label for="rating">評分（1 - 5）</label>
              <input required min="1" max="5" type="number" class="form-control" id="rating" name="rating"
                placeholder="4.0">
            </div>
            <div class="form-group col-10">
              <label for="image">餐廳照片</label>
              <input required type="text" class="form-control" id="image" name="image" placeholder="http://">
            </div>
            <div class="form-group col-10">
              <label for="google_map">Google 地圖位址</label>
              <input required type="text" class="form-control" id="google_map" name="google_map"
                placeholder="Google map URL">
            </div>
            <div class="form-group col-md-10">
              <label for="description">描述</label>
              <textarea required type="text" class="form-control form-description" id="description" name="description"
                placeholder="（餐廳主要特色、服務、優缺點）"></textarea>
            </div>
            <div class="form-group col-md-10 justify-content-start" style="margin-top: 10px;">
              <button type="submit" class="btn btn-info">新增</button>
              <a href="/">
                <button type="button" class="btn btn-warning ml-3">返回</button>
              </a>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>